html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "say") Movie Name:
            input(name = "Movie Name" value = "Titanic")
         br
         div
            label(for = "MOvie Year") Movie Year:
            input(name = "MOvie Year" value = "1997")
         br
         button(type = "submit") Send my greetings
